.headerTitle {
    margin: auto !important; 
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.toolbar {
    position: "sticky",
}