@import '../../../assets/constants/colors.scss';

.layoutWrapper {
    background-color: $backgroundGray;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    height: fit-content;
}