.line-break {
    width: 100%;
}

.iconesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.linhaDeslogar {
    width: 90%;
    height: 1px;
    background-color: #888;
    margin: 20px 0;
}

.textoBemVindo{
    font-size: 25px !important;
    font-weight: 700 !important;
    margin-top: 20px !important; 
}