@import "../../assets/constants/colors.scss";

.inputsWrapperAgenda {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 105px !important;
}

.inputAgenda {
    margin: 15px 0 !important;
    width: 100%;
    background-color: white;
}


#react-select-6-listbox {
    z-index: 999 !important;
  }