@import "../../../assets/constants/colors.scss";

.inputsWrapperAgenda {
    display: flex;
    flex: auto;
    flex-direction: column;
    z-index: 2;
    margin-top: 10px;
    //margin: 90px 5% 20px;
    width: 90%;
}

.inputAgenda {
    margin: 15px 0 !important;
    width: 100%;
    background-color: white;
}


#react-select-6-listbox {
    z-index: 999 !important;
  }